@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    color: white;
}
.content{
    width: 80%;
    padding: 10%;
}
nav .logo{
    width: 40%;
    margin-bottom: 20%;
}
.image img{
    width: 100%;
}
header{
    margin-top: 20%;
    font-size: 3.5vw;
    text-align: center;
}
p{
    text-align: center;
    font-size: 3.9vw;
    margin-top: 2vw;

}
main{
    
    text-align: center;
}
main button{
    margin-top: 10%;
    padding: 2.5vw;
    width: 60%;
    border-radius: 6vw;
    border: none;
    background-color: white;
    font-size: 3vw;
    color: hsl(257, 40%, 49%);
}
.social{
    text-align: center;
    margin-top: 20%;
}
.social i{ 
    width: 2vw; 
    font-size: 2.5vw;
    padding: 2vw;
    border: 0.5vw solid #fff;
    border-radius: 50%;
}
@media (min-width: 376px) {
    body{
        background-image: url("../images/bg-desktop.svg");
        background-size: cover;
        }
    .content{
        width: 90%;
        padding: 5%;
        }
    nav .logo{
        width: 15%;
        margin-bottom: 2.5%;
        }
    .grid {
        display: grid;
        margin: auto;
        grid-template-columns: 1fr 1fr;        
        }
    .text{
        margin-left: 10%;
    }
    header{
        font-size: 1.5vw;
        text-align: left;
        margin: 0;
    }
    h1{
        margin-top: 10%;
    }
    p{
        text-align: left;
        font-size: 1.1vw;
        margin-top: 2vw;
    }
    main{
    
        text-align: left;
    }
    main button{
        margin-top: 5%;
        padding: 0.8vw;
        width: 35%;
        border-radius: 6vw;
        border: none;
        background-color: white;
        font-size: 1.5vw;
        color: hsl(257, 40%, 49%);
    }
    main button:hover{
        background-color: hsl(300, 69%, 71%);
        cursor: pointer;
        color: white;
    }
    .social{
        text-align: right;
        margin-top: 20%;
    }
    .social i{ 
        width: 0.8vw; 
        font-size: 1vw;
        padding: 0.8vw;
        border: 0.1vw solid #fff;
        border-radius: 50%;
    }
    .social i:hover{
        cursor: pointer;
        color: hsl(300, 69%, 71%);
        border-color: hsl(300, 69%, 71%);;
    }
}
